body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-direction: column;
}

/* Titolo della pagina */
h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}


#dettagli-prodotto {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 30px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  text-align: center;
}

/* Immagine del prodotto */
#dettagli-prodotto img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Nome del prodotto */
#dettagli-prodotto h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Descrizione del prodotto */
#dettagli-prodotto p {
  color: #ecf0f1;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Prezzo del prodotto */
#dettagli-prodotto .prezzo {
  font-size: 1.5rem;
  color: #ffffff;
  /* Verde chiaro per il prezzo */
  margin-bottom: 20px;
  font-weight: bold;
}

/* Pulsante di ritorno alla home */
a {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 20px;
}